<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	  


<title> Gestion des livres   </title>

</head>

<body>

<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">
					Bibliotheque </a>
			</div>
						
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				<li ><a th:href="@{/doc}"> Mes documents</a></li>
				
				<li  th:if="${isAdmin}"><a th:href="@{/liste}"> Administrateur</a></li>	
							
				<!--  <li><a th:href="@{/liste}"> Administrateur</a></li> -->
				
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"> Se deconnecter</a></li>
				</ul>
			</div>
			
			
		</div>
	</nav>

	<br>
	<br>
<!-- <div>  -->
 
 <h1> Mes livres  </h1>
 
 <table>
<tr align="left"> 


<h2> <a  href="/emprunt/">Emprunter un nouveau livre </a></h2><br><br>

<h1>Mes livres empruntés  </h1>

<!-- </div> -->
</tr>

<tr>
<div class="col-sm-5" align="center">
 <div class="panel-body" align="center"> 
 
 <table class="table" border="2" cellpadding="10">
 <thead class="thead-dark">
 <tr>  

  <th> titre </th>
  <th> editeur </th>
   <th> auteur</th>
    <th> categorie </th>
     <th> action </th>
     
 </tr>
 </thead>
 
 <tbody> 
 <tr th:each="livre: ${livresEmpruntes}"> 

  <td th:text="${livre.titre}" > Titre</td>
   <td th:text="${livre.editeur}" > Editeur</td>
    <td th:text="${livre.auteur}"> Auteur </td>
     <td th:text="${livre.categorie}" > Categorie </td>
  <td>
  <a th:href="@{'/rendre/' +${livre.id}}"> Rendre le livre </a>
  
  </td>
  </tr>
  
  
 </tbody>
 </table>
 

 </div>
  </div>
  </tr>
  </tbody>
  </table>
  <div> 
</body>
</html>