<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<title>Registration and Login App</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	  
	

</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
	
			<div class="container">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">
					Bibliotheque </a>
				</div>	
				
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ><a th:href="@{/doc}"> Mes documents</a></li>			  
						
			
						<!-- <li  th:if="${isAdmin}"><a th:href="@{/liste}"> Administrateur</a></li> -->	
						<li><a th:href="@{/liste}"> Administrateur</a></li>
						
						
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"> Se deconnecter</a></li>
				</ul>
			</div>
			</div>
	</nav>

	<br>
	<br>

<div align="center">

<h1> Ajouter un nouveau livre</h1>
<br/>
<form action="#" th:action="@{/liste/save}" th:object="${livre}" method="post">
    <table border="0" cellpadding="10" >
        
        <tr >
            <td style="margin-top:10px;">Titre:</td>
            <td style="margin-top:10px;"> <input type="text" th:field="*{titre}"/></td>
        </tr>
        
        <tr style="margin-bottom:10px;">
            <td style="margin-top:10px;">Editeur:</td>
            <td style="margin-top:10px;"> <input type="text" th:field="*{editeur}" style="margin-top:10px;"/></td>
        </tr>
        
        <tr >
            <td style="margin-top:10px;">Auteur:</td>
            <td style="margin-top:10px;"> <input type="text" th:field="*{auteur}" style="margin-top:10px;"/></td>
        </tr>
        
         <tr>
            <td style="margin-top:10px;">Categorie:</td>
            <td> <input type="text" th:field="*{categorie}" style="margin-top:10px;"/></td>
        </tr>
        
         <tr>
            <td style="margin-top:10px;">Quantite stock:</td>
            <td> <input type="text" th:field="*{qte_stock}" style="margin-top:10px;"/></td>
        </tr>
        
        <tr>
            <td>Enregistrer le livre:</td>
            <td colspan="2"> <button type="submit" style="margin-top:10px;">Enregistrer</button> </td>
        </tr>
    </table>

 

</form>

 

</div>



</body>
</html>